h1 {
    color: hotpink;
    font-size: 44px;
    text-transform: uppercase;

    border: 1px solid red;
    margin: 20px 10px;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 2px;
}
p {
    color: skyblue;
}
