<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ site.title }}</title>
        <link rel="stylesheet" href="css/style.css" />
        <link href='http://fonts.googleapis.com/css?family=Gorditas' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header>
            <ul class="nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="kittens.html">Kittens</a></li>
            </ul>

            <h1>{{ site.title }}</h1>
            <h2>{{ page.title }}</h2>
        </header>
        
        <hr />
        <br>
        
        <div id="content">
            {{ content }}
        </div>
        
        <br>
        <hr />
        
        <div id="footer">
            <blockquote><p>
                And here I stand, with all my lore,<br />
                Poor fool, no wiser than before.
            </p></blockquote>
            <p>-Johann Wolfgang von Goethe. Faust. Part I.</p>
            <br>
            <p>Based on <a href="http://opentechschool.github.io/github-from-scratch/">This</a> tutorial</p>
        </div>
    </body>
</html>
