<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ site.title }}</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link href='http://fonts.googleapis.com/css?family=Gorditas' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <h1>{{ site.title }}</h1>
        <h2>{{ page.title }}</h2>
        
        <p>My Pages:</p>
        <p><a href="index.html">Home</a></p>
        <p><a href="kittens.html">Kittens</a></p>
        
        <hr />
        
        {{ content }}

        <hr />
        
        <blockquote><p>
            And here I stand, with all my lore,<br />
            Poor fool, no wiser than before.
        </p></blockquote>
        <p>-Johann Wolfgang von Goethe. Faust. Part I.</p>
</body>
</html>
